langchain
langchain-community
langchain-text-splitters
langchain-huggingface
sentence-transformers
faiss-cpu
huggingface_hub
python-dotenv
pypdf
streamlit
import streamlit as st
import faiss

langchain-huggingface
transformers
huggingface-hub


python-dotenv

numpy
scikit-learn
